@model TGB.WebAPI.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StayTimeStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StayTimeStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StayTimeFinish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StayTimeFinish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConcreteUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConcreteUser.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>
