@model ReflectionIT.Mvc.Paging.PagingList<TGB.WebAPI.Models.Trip>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}

<h2>Trip</h2>

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="city"
           value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
    </button>
</form>

<nav aria-label="Suppliers navigation example">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>

<table class="table">
    <thead>
        <tr class="active">
            <th>
                @Html.SortableHeaderFor(model => model.City, "City", this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.StayTimeStart, "StayTimeStart", this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.StayTimeFinish, "StayTimeFinish", this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Budget, "Budget", this.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcreteUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="active">
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StayTimeStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StayTimeFinish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcreteUserId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Suppliers navigation example">
    <vc:pager paging-list="@Model" />
</nav>

<div>
    <a asp-controller="Home" asp-action="AdminView" class="btn btn-default">Back to List</a>
</div>