@{
    ViewData["Title"] = "Your trip details";
}

@model Trip;

<h2>Your @Model.Id trip details:</h2>

<p>City: @Model.City; Budget: @Model.Budget; StayTimeStart: @Model.StayTimeStart; StayTimeFinish: @Model.StayTimeFinish</p>


