@model ReflectionIT.Mvc.Paging.PagingList<Microsoft.AspNetCore.Identity.IdentityUser>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>

<form method="get" class="form-inline">
    <input name="filterName" class="form-control" placeholder="username"
           value="@Model.RouteValue["Filter"]" />
    <input name="filterEmail" class="form-control" placeholder="email"
           value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
    </button>
</form>

<nav aria-label="Suppliers navigation example">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.UserName, "UserName", this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Email, "Email", this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.PhoneNumber, "PhoneNumber", this.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit Role</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (item.UserName != User.Identity.Name)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Suppliers navigation example">
    <vc:pager paging-list="@Model" />
</nav>

<div>
    <a asp-controller="Home" asp-action="AdminView">Back to List</a>
</div>