@model IEnumerable<TGB.WebAPI.Models.Place>


<form action="SelectPlaces" method="post">
    <label for="city">Місто, в яке ви подорожуєте*</label>
    <br />
    <select name="city" id="City" required>
        @{
            foreach (var city in @ViewBag.Cities)
            {
                <option>@city</option>
            }
        }
    </select>
    <br />
    <label for="startDate">Date and time of your arrival to the city*</label>
    <br />
    <input type="date" name="startDate" id="StartDate" required />
    <input type="time" name="startTime" id="StartTime" />
    <br />
    <label for="finishDate">Date and time of your departure from the city*</label>
    <br />
    <input type="date" name="finishDate" id="FinishDate" required />
    <input type="time" name="finishTime" id="FinishTime" />
    <br />
    <label for="budget">Estimated budget for 1 day*</label>
    <br />
    <input type="number" name="budget" id="Budget" required />
    <br />
    <label for="tags">Types of facilities you wish to visit*</label>
    <br />
    <select name="chosenTags" multiple="multiple" required>
        @{
            foreach (var tag in ViewBag.Tags)
            {
                //<input type="checkbox" name="@tag.GetHashCode()" />
                //<label for="@tag.GetHashCode()">@tag</label>
                <option>@tag</option>
            }
        }
    </select>
    <br />
    @*<label for="places">Заклади, які ви хочете відвідати*</label>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="selectAll"/>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkTimeStart)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkTimeFinish)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var place in Model)
                 {
                <tr>
                    <td>
                        <input type="checkbox" name="@place.Id" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => place.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => place.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>place.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>place.WorkTimeStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>place.WorkTimeFinish)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>place.Rating)
                    </td>
                </tr>
                 }
            </tbody>

        </table>*@
    <br />
    <input class="btn btn-light" type="submit" value="Submit" name="submit" onclick="storeData()" /> @*onclick="return storeData()"*@
    <span id="span_trip"></span>
</form>

<script>
    function storeData() {
        sessionStorage.setItem('City', '');
        sessionStorage.setItem('StartDate', '');
        sessionStorage.setItem('StartTime', '');
        sessionStorage.setItem('FinishDate', '');
        sessionStorage.setItem('FinishTime', '');
        sessionStorage.setItem('Budget', '');
        sessionStorage.setItem('City', document.getElementById("City").value);
        sessionStorage.setItem('StartDate', document.getElementById("StartDate").value);
        sessionStorage.setItem('StartTime', document.getElementById("StartTime").value);
        sessionStorage.setItem('FinishDate', document.getElementById("FinishDate").value);
        sessionStorage.setItem('FinishTime', document.getElementById("FinishTime").value);
        sessionStorage.setItem('Budget', document.getElementById("Budget").value);
    }
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
