@model TripWithPlaces
@*IEnumerable<TGB.WebAPI.Models.Trip>*@
@*TripWithPlaces*@

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trips.ElementAt(0).City) @*model.City*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips.ElementAt(0).StayTimeStart) @*.PlacesInTrip.ElementAt(0).Key.*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips.ElementAt(0).StayTimeFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips.ElementAt(0).Budget)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Trips.ElementAt(0).Places)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trip in Model.Trips)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => trip.City) @*item.City*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => trip.StayTimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trip.StayTimeFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trip.Budget)
            </td>
            @*<td>
        @Html.DisplayFor(modelItem => trip.Places.Where(pl=>pl.Trip.Id==trip.Id).ToList().Count)  @*item.Places.Count*@
            @*</td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@trip.Id">Edit</a> |  @*@item.Id*@
                <a asp-action="Details" asp-route-id="@trip.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@trip.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
