@model TripWithPlaces
@*IEnumerable<TGB.WebAPI.Models.Trip>*@
@*TripWithPlaces*@

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlacesInTrip.ElementAt(0).Key.City) @*model.City*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacesInTrip.ElementAt(0).Key.StayTimeStart) @*.PlacesInTrip.ElementAt(0).Key.*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacesInTrip.ElementAt(0).Key.StayTimeFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacesInTrip.ElementAt(0).Key.Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacesInTrip.ElementAt(0).Key.Places)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlacesInTrip)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.City) @*item.City*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.StayTimeStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.StayTimeFinish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Places.Count)  @*item.Places.Count*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Key.Id">Edit</a> |  @*@item.Id*@
                    <a asp-action="Details" asp-route-id="@item.Key.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Key.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
