@using Microsoft.AspNetCore.Http.Features.Authentication
@model IEnumerable<TGB.WebAPI.Models.Place>
@*Dictionary<string, List<Place>>()*@

@{
    ViewData["Title"] = "Choose needed places";
}

<form action="CreateTrip" method="post">
    <div id="select_places">
        <div id="tags">
            @{
                foreach (var element in ViewBag.TagedPlace)
                {
                    <table class="table table-striped table-hover table-condensed">
                        <thead class="">
                            <tr>
                                <th>

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WorkTimeStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WorkTimeFinish)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Rating)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                <tr>
                                    <h3>@element.Key</h3>
                                </tr>
                                {
                                    foreach (var place in Model) //(var place in element.Value)
                                    {
                                        if (place.Type == element.Key)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="@place.Id" onclick="changePlaceState(this)" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => place.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => place.Type)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => place.Address)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => place.WorkTimeStart)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => place.WorkTimeFinish)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => place.Rating)
                                                </td>
                                            </tr>
                                        }


                                    }
                                }
                            }
                        </tbody>
                    </table>
                }
            }

            @*<table class="table">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" name="selectAll" />
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WorkTimeStart)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WorkTimeFinish)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rating)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var element in ViewBag.TagedPlace)
                            {
                                <tr>
                                    <h3>@element.Key</h3>
                                </tr>
                                {
                                    foreach (var place in Model) //(var place in element.Value)
                                    {
                                        if (place.Type==element.Key)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="@place.GetHashCode()" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => place.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => place.Type)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => place.Address)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => place.WorkTimeStart)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => place.WorkTimeFinish)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => place.Rating)
                                                </td>
                                            </tr>
                                        }


                                    }
                                }

                            }
                        }
                    </tbody>
                </table>*@
            @*<input class="btn btn-light" type="submit" value="Create Trip" name="submit" onclick="getCheckedPlaces" />*@

        </div>
        <button class="btn btn-light" type="submit" value="Create Trip" name="submit" onclick="getCheckedPlaces()">CreateTrip</button>
        <div id="path">

        </div>
        <div id="info">
            <h3>Information</h3>
            <p id="description"></p>
        </div>
    </div>
</form>

<style>
    #map, #map_canvas {
        width: 1000px;
        height: 500px;
    }
</style>

<div id="map_canvas" style="width: 1000px; height: 500px;"></div>


<div>
    <div id="map"></div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7tnGRfh4zut21AaOKJpBEGIh7UXJobVM&callback=initMap">
    </script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        var map;

        function initMap() {
            var myLatlng = new google.maps.LatLng(49.8382600, 24.0232400);

            var myOptions = {
                zoom: 12,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            var checkedPlaces = document.querySelectorAll("input[type=checkbox]:checked");

            function setLocalStorageObjectItem(key, value) {
                if (value === undefined) {
                    localStorage.removeItem(key);
                } else {
                    localStorage.setItem(key, JSON.stringify(value));
                }
            }

            

            myStorage = window.localStorage;
            localStorage.setItem()
            for (var i = 0; i < checkedB.length; i++) {
                setLocalStorageObjectItem(checkedPlaces[i].name, checkedPlaces[i]);
                
            }

        }

        google.maps.event.addDomListener(window, "load", initMap());
    </script>
</div>


<script type="text/javascript">

    function changePlaceState(paramName) {
        //console.log(paramName.checked);
        if ((paramName.checked == true)) {

            // ToDo show on GoogleMaps
            var chB = paramName;
            //$("div").text(paramName.name + " checked!");
        } else {

            // ToDo get out from google maps
            var chB = paramName;
        }
    }
</script>

<script type="text/javascript">
    function getCheckedPlaces() {
        var checkedB = document.querySelectorAll("input[type=checkbox]:checked"); // дай мені хвилинку
        console.log(checkedB.checked);

        @*var places = @Model;*@
        //var places = new type();
        var chB = '';

       for (var i = 0; i < checkedB.length; i++) {
           chB += checkedB[i].name
           if (i < checkedB.length - 1) {
               chB += '*';
           }
         }
        var r = { ids : chB };
        Create(r);
        //$("div").text(checkedB.length);
    }
    function Create(filters) {

        $.ajax({
            url: '/Trips/CreateTrip',
                type: 'POST',
                cache: false,
                async: true,
                dataType: "html",
                data: filters
            })
            .done(function (result) {
                alert('success');
                $('body').html(result);

            }).fail(function (xhr) {
                console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
            });

    }




</script>
<script type="text/javascript">
    function CreatePath() {

    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*@model System.Collections.Generic.List<TGB.WebAPI.Models.Place>

    <!DOCTYPE html>

    <html>
    <head>
        <title>title</title>
    </head>
    <body>
    <div>

    </div>
    </body>
    </html>*@
